<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@drawable/br"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/br"
        android:supportsRtl="true"
        android:theme="@style/Theme.BrainRun">

        <!-- Initialization Provider: Remove the tools:node="remove" if not required -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false" />

        <!-- Main Activity -->
        <activity
            android:exported="true"
            android:name=".SplashLogo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Define all other activities here -->
        <activity
            android:name=".Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cscore4"
            android:parentActivityName=".Evaluation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cscore3"
            android:parentActivityName=".Evaluation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cscore2"
            android:parentActivityName=".Evaluation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cscore1"
            android:parentActivityName=".Evaluation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sports"
            android:screenOrientation="portrait" />
        <activity
            android:name=".trip"
            android:screenOrientation="portrait" />
        <activity
            android:name=".car"
            android:screenOrientation="portrait" />
        <activity
            android:name=".school"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Evaluation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bscore4"
            android:parentActivityName=".Inference"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bscore3"
            android:parentActivityName=".Inference"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bscore2"
            android:parentActivityName=".Inference"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bscore1"
            android:parentActivityName=".Inference"
            android:screenOrientation="portrait" />
        <activity
            android:name=".john"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cia"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ben"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adam"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Inference"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sunday1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".detective"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gifts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ascore4"
            android:parentActivityName=".analysis"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ascore3"
            android:parentActivityName=".analysis"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ascore2"
            android:parentActivityName=".analysis"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ascore1"
            android:parentActivityName=".analysis"
            android:screenOrientation="portrait" />
        <activity
            android:name=".graphical"
            android:screenOrientation="portrait" />
        <activity
            android:name=".analysis"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register"
            android:parentActivityName=".Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".score4"
            android:parentActivityName=".interpretation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".score3"
            android:parentActivityName=".interpretation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".score2"
            android:parentActivityName=".interpretation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".score"
            android:parentActivityName=".interpretation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".riddle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".graph"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oddOne"
            android:screenOrientation="portrait" />
        <activity
            android:name=".analogy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".interpretation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splash"
            android:screenOrientation="portrait" />

        <!-- Meta-data for preloaded fonts -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>
